.slidevideos{
    width: 100% !important;
     
}
.sliderContainer{
    position: relative;
}
.layer{
    background-color: rgba(0, 0, 0, .2);
}

.imgContainer{
    background-position: center;
    background-size: cover;
    height: calc(100vh - 93px);
}
 .header{
    font-size: 80px;
}

