.toggleContainer{
    /* width: 10%; */
    /* height: 5%; */
    border-radius: 25px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    /* flex-basis: 150px; */
}
@media screen and (max-width:767px) {
    .toggleContainer{
        width: 50%;
        margin: 20px 0px
    }
}
.toggleEle{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.day , .week {
    padding: 2px 20px;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}



.active {
    
    background-color: #ea5612;
    color: #fff; 
    cursor: pointer; 
    transition: background-color .9s;
    padding: 2px 20px;
    border-radius: 25px;
}