@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

}
.no-gutter {
  --bs-gutter-x: 0 !important; 
  padding: 0px !important;
  margin: 0px !important;
}

a , a:hover {
  text-decoration: none !important;
  color: #fff;
}

